.padding-lg{
    padding: 40px;
}
.padding-md{
    padding: 30px;
}
.padding{
    padding: 20px;
}
.padding-sm{
    padding: 10px;
}
.padding-xs{
    padding: 5px;
}
.padding-t-lg{
    padding-top: 40px;
}
.padding-t-md{
    padding-top: 30px;
}
.padding-t{
    padding-top: 20px;
}
.padding-t-sm{
    padding-top: 10px;
}
.padding-t-xs{
    padding-top: 5px;
}
.padding-r-lg{
    padding-right: 40px;
}
.padding-r-md{
    padding-right: 30px;
}
.padding-r{
    padding-right: 20px;
}
.padding-r-sm{
    padding-right: 10px;
}
.padding-r-xs{
    padding-right: 5px;
}
.padding-b-lg{
    padding-bottom: 40px;
}
.padding-b-md{
    padding-bottom: 30px;
}
.padding-b{
    padding-bottom: 20px;
}
.padding-b-sm{
    padding-bottom: 10px;
}
.padding-b-xs{
    padding-bottom: 5px;
}
.padding-l-lg{
    padding-left: 40px;
}
.padding-l-md{
    padding-left: 30px;
}
.padding-l{
    padding-left: 20px;
}
.padding-l-sm{
    padding-left: 10px;
}
.padding-l-xs{
    padding-left: 5px;
}